<article class="row speaker">
    <div class="col-12">
        <div class="row">
          <div class="col-3">
            {% if speaker.photo %}
            <p><img src="{{ speaker.photo.url }}" class="img-responsive speaker-img"></p>
            {% endif %}
          </div>
          <div class="col-9 col-vertical-middle-fixed">
            <div class="row speaker-name">
              <h4>
                {{ speaker.name}}
              </h4>
            </div>
            <div class="row speaker-track">
              {% if speaker.track == 1 %}
              <p class="speaker-track-1">
                Track Iniciación
              </p>
              {% endif %}
              {% if speaker.track == 2 %}
              <p class="speaker-track-2">
                Track Avanzado
              </p>
              {% endif %}
            </div>
            <div class="row speaker-current-position">
              <p>
                  {{ speaker.annotation }}
              </p>
            </div>
            <div></div>
          </div>
        </div>
        <p class="speaker-content">{{ speaker.biography }}</p>
    </div>
</article>
