{% extends "workshops/container.html" %}
{% load i18n %}

{% block section %}
{% comment %}For loop to display more results than the db content{% endcomment %}
  {% for i in '0123456789'|make_list %}
      {% for workshop in workshops %}
          {% include "workshops/_workshop.html" %}
            {% empty %}
            <div class="row workshops-list">
                <div class="col-12 text-center">
                    <h2>:( ¡Baleiro!</h2>
                </div>
            </div>
            {% endif %}
      {% endfor %}
  {% endfor %}
{% endblock section %}
