{% extends "workshops/container.html" %}
{% load i18n %}

{% block section %}
  {% for workshop in workshops %}
    {% include "workshops/_workshop.html" %}
    {% empty %}
    <div class="workshops-list" style="width:100%;">
      <div class="col text-center">
        <h2>{% blocktrans %}¡Aún no hay ningun workshop que mostrar!{% endblocktrans %}</h2>
        <p>{% trans "Estamos trabajando para ofrecer talleres interesantes" %}</p>
        <p>{% trans "¿Quieres ofrecer un taller? Apúntate en el CFP " %}</p><span><a class="btn btn-primary" href="{% url "cfp" %}">CALL FOR PAPERS</a></span>
      </div>
    </div>
  {% endfor %}
{% endblock section %}
