{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block body %}
    {% block header %}
    <nav class="navbar fixed-top navbar-toggleable-sm navbar-menu">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
      </button>
      <a class="navbar-brand hidden-md-up" href="{% url "home" %}">
        <img src="{%static "images/logo.svg" %}" class="img-responsive" style="max-width: 50px">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <a class="navbar-brand nav-item hidden-sm-down" href="{% url "home" %}">
            <img src="{%static "images/logo.svg" %}" class="img-responsive" style="max-width: 50px">
          </a>
          {% if request.user.is_authenticated %}
          <li class="nav-item active">
            <a href="javascript:void(0);" class="nav-link">{% trans "Hola" %} {{ request.user.first_name }}</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "info" %}">{% blocktrans %}Información del evento{% endblocktrans %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "reg" %}">{% blocktrans %}Registro{% endblocktrans %}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url "speakers:list" %}">Speakers</a>
          </li>
          <!--
          <li class="nav-item">
              <a class="nav-link" href="#">{% blocktrans %}Programa{% endblocktrans %}</a>
          </li>ofrecer una charla

          <li class="nav-item">
              <a class="nav-link" href="{% url "workshops:list" %}">{% blocktrans %}Workshops{% endblocktrans %}</a>
          </li>

          -->
          <li class="nav-item">
            <a class="nav-link" href="{% url "cfp" %}" alt="Call For Papers">CFP</a>
          </li>
          <li class="nav-item hidden-md-up">
            <a href="mailto:{{ CONTACT_EMAIL }}" class="nav-link"> {% blocktrans %}Contacta con nosotros{% endblocktrans %}</a>
          </li>
          <li class="nav-item hidden-md-up">
            <a href="https://twitter.com/python_vigo" class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item hidden-md-up">
            <a href="https://github.com/python-vigo" class="nav-link"><i class="fa fa-github"></i></a>
          </li>
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "admin:index" %}">Admin</a>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="{% url "users:sign-out" %}">{% blocktrans %}Salir{% endblocktrans %}</a>
          </li>
          {% endif %}
        </ul>
        <form action="{% url "set_language" %}" method="post" class="form-inline justify-content-center hidden-md-up">{% csrf_token %}
          <input name="next" type="hidden" value="/" />
          <select name="language" class="form-control" onchange="this.form.submit()" style="text-transform: capitalize; width: auto !important;">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                  {{ language.name_local }}
              </option>
          {% endfor %}
        </select>
        </form>
      </div>
    </nav>
    {% endblock header %}

    {% block content %}{% endblock content %}

    {% block footer %}
    <footer class="hidden-md-down">
        <nav class="navbar navbar-toggleable-md navbar-light">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
              <a href="mailto:{{ CONTACT_EMAIL }}" class="nav-link"> {% blocktrans %}Contacta con nosotros{% endblocktrans %}</a>
            </li>
            <li class="nav-item">
              <a href="https://twitter.com/python_vigo" class="nav-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/python-vigo" class="nav-link"><i class="fa fa-github"></i></a>
            </li>
          </ul>
          <form action="{% url 'set_language' %}" method="post" class="form-inline">{% csrf_token %}
            <input name="next" type="hidden" value="/" />
            <select name="language" class="form-control" onchange="this.form.submit()" style="text-transform: capitalize; width: auto !important;">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                    {{ language.name_local }}
                                </option>
                            {% endfor %}
                          </select>
          </form>
        </nav>
    </footer>
    {% endblock footer %}
{% endblock body %}
