{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block body %}
    {% block header %}
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-menu">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <a class="navbar-brand" href="{% url "home" %}">
            <img src="{%static "images/logo.png" %}" class="img-responsive" style="max-width: 50px">
          </a>
          {% if request.user.is_authenticated %}
          <li class="nav-item active">
            <p class="nav-link">{{ request.user }}</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link hvr-bounce-to-right" href="{% url "info" %}">{% blocktrans %}Información del evento{% endblocktrans %}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link hvr-bounce-to-bottom" href="{% url "speakers:list" %}">{% blocktrans %}Speakers{% endblocktrans %}</a>
          </li>
          <!--
          <li class="nav-item">
              <a class="nav-link hvr-bounce-to-bottom" href="#">{% blocktrans %}Programa{% endblocktrans %}</a>
          </li>
          <li class="nav-item">
              <a class="nav-link hvr-bounce-to-bottom" href="{% url "workshops:list" %}">{% blocktrans %}Workshops{% endblocktrans %}</a>
          </li>
          -->
          <li class="nav-item">
              <a class="nav-link hvr-bounce-to-left" href="{% url "cfp" %}">{% blocktrans %}CFP{% endblocktrans %}</a>
          </li>
          {% if request.user.is_staff %}
          <li class="nav-item">
              <a class="nav-link hvr-bounce-to-top" href="{% url "admin:index" %}">Admin</a>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link hvr-bounce-to-right" href="{% url "users:sign-out" %}">{% blocktrans %}Salir{% endblocktrans %}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% endblock header %}

    {% block container %}{% endblock container %}

    {% block footer %}
    <footer>
        <div class="container text-center">
            <nav style="margin:20px auto">
                <div class="col" style="font-size: 1.2rem; color: white;">
                  <a href="{% url "code-of-conduct" %}" class="nav-item">{% blocktrans %}Código de conducta{% endblocktrans %}</a>&nbsp;
                  <a href="mailto:{{ CONTACT_EMAIL }}" class="nav-item"> {% blocktrans %}Contacta con nosotros{% endblocktrans %}</a>&nbsp;
                  <a href="https://twitter.com/python_vigo" class="nav-item"><i class="fa fa-twitter"></i></a>&nbsp;
                  <a href="https://github.com/python-vigo" class="nav-item"><i class="fa fa-github"></i></a>
                  <form action="{% url 'set_language' %}" method="post" class="nav-item">{% csrf_token %}
                    <input name="next" type="hidden" value="/" />
                    <select name="language" class="form-control" onchange="this.form.submit()" style="text-transform: capitalize; width: auto !important;">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                {{ language.name_local }}
                            </option>
                        {% endfor %}
                      </select>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    {% endblock footer %}

{% endblock body %}
