<div class="col-xs-12 col-md-4 speaker text-center">
    {% if speaker.photo %}
    <img src="{{ speaker.photo.url }}" class="speaker-image"> {% endif %}
    <div class="speaker-col-vertical-middle-fixed">
        <div class="speaker-name">
            <h4>
                {{ speaker.name}}
            </h4>
        </div>
        <div class="speaker-current-position">
            {{ speaker.annotation }}
        </div>
        <div class="speaker-social">
            <a href="#" alt="github"><i class="fa fa-github" style="color:black"></i></a>&nbsp;
            <a href="#" alt="github"><i class="fa fa-twitter" style="color:black"></i></a>&nbsp;
            <a href="#" alt="github"><i class="fa fa-medium" style="color:black"></i></a>&nbsp;
            <a href="#" alt="github"><i class="fa fa-address-card-o" style="color:black"></i></a>
            <br>
        </div>

    </div>
    <div class="speaker-track">
        {% if speaker.track == 1 %}
        <p class="speaker-track-1 hvr-sweep-to-right">
            Track Iniciación
        </p>
        {% endif %} {% if speaker.track == 2 %}
        <p class="speaker-track-2 hvr-sweep-to-right">
            Track Avanzado
        </p>
        {% endif %}
    </div>
    <div class="hvr-overline-from-center">
        <p class="speaker-content">{{ speaker.biography }}</p>
    </div>
</div>
