<div class="card-block col col-sm-6 col-md-4">
    <article class="card depth--two">
      <figure>
        {% if speaker.photo %}<img class="card-img" src="{{ speaker.photo.url }}" alt="{{ speaker.name }}">{% endif %}
      </figure>
      <div class="card__body">
        <header class="card__primary-title">
          <h5>{{ speaker.name }}</h5>
          <strong>{{ speaker.annotation }}</strong>
        </header>
        <div class="card__supporting-text" style="background: white;">
          <strong>{{ speaker.presentation }}</strong>
        </div>
        <div class="card__supporting-text">
          <p class="hidden-sm-down">{{ speaker.biography }}</p>
        </div>
      </div>
      <div class="card__actions">
            {% if speaker.url_github %}
            <a href="{{ speaker.url_github }}" alt="github" target="_blank">
              <i class="fa fa-github"></i>
            </a>&nbsp;{% endif %}
            {% if speaker.url_twitter %}
            <a href="{{ speaker.url_twitter }}" alt="twitter">
              <i class="fa fa-twitter" target="_blank"></i>
            </a>&nbsp;{% endif %}
            {% if speaker.url_blog %}
            <a href="{{ speaker.url_blog }}" alt="blog">
              <i class="fa fa-pencil-square-o" target="_blank"></i>
            </a>&nbsp;{% endif %}
            {% if speaker.url_mail %}
            <a href="{{ speaker.url_mail }}" alt="email">
              <i class="fa fa-address-card-o" target="_blank"></i>
            </a>{% endif %}
      </div>
    </article>
</div>
