{% extends "speakers/container.html" %}
{% load i18n %}
{% load static %}

{% block section %}
  {% for speaker in speakers %}
    {% include "speakers/_speaker.html" %}
  {% endfor %}
  <div class="card-block col-lg-4 col-xs-12 col-md-12">
      <article class="card depth--two">
        <figure>
          <img  class="card-img" src="{% static "images/who.png" %}" alt="CFP" style="padding:50px;"/>
        </figure>
        <div class="card__body">
          <header class="card__primary-title">
            <h5 class="text-secondary text-normal text-small">{% trans "¡Iremos desvelando poco a poco a nuestros próximos ponentes!" %}</h5>
          </header>
          <div class="card__supporting-text">
            <p>{% trans "¿Quieres ofrecer una charla? ¡Apúntate en el CFP!" %}</p>
          </div>
        </div>
        <div class="card__actions">
          <a class="btn btn-primary" href="{% url "cfp" %}">CALL FOR PAPERS</a>
        </div>
      </article>
    </div>
  </div>
{% endblock section %}
