{% extends "speakers/container.html" %}
{% load i18n %}

{% block section %}
{% comment %}For loop to display more results than the db content{% endcomment %}
  {% for i in '0123456789'|make_list %}
      {% for speaker in speakers %}
          {% include "speakers/_speaker.html" %}
          {% empty %}
          <div class="row speakers-list">
              <div class="col-12 text-center">
                  <h2>{% blocktrans %}¡Aún no hay ningun speaker!{% endblocktrans %}</h2>
              </div>
          </div>
      {% endfor %}
  {% endfor %}
{% endblock section %}
