#home {
  background: url("../images/pyday2016/pyday16-publico02.jpg");
  background-color: #3d73a7;
  background-blend-mode: exclusion;
  background-position-x: 50%;
  background-position-y: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

#cfp {
  background: url("../images/pyday2016/pyday16-sonrisas.jpg");
  background-color: #3d73a7;
  background-blend-mode: exclusion;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#registro {
  background: url("../images/pyday2016/pyday16-registro.jpg");
  background-color: #3d73a7;
  background-blend-mode: exclusion;
  background-position-x: 50%;
  background-position-y: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

#speakers {
  background: url("../images/pyday2016/pyday16-speakers.jpg");
  background-color: #3d73a7;
  background-blend-mode: exclusion;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#info {
  background: url("../images/pyday2016/pyday16-camisetas.jpg");
  background-color: #3d73a7;
  background-blend-mode: exclusion;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#sponsors {
  background: url("../images/pyday2016/pyday16-speakers02.jpg");
  background-color: #3d73a7;
  background-blend-mode: exclusion;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#coc {
  background: url("../images/pyday2016/pyday16-publico02.jpg");
  background-color: #3d73a7;
  background-blend-mode: exclusion;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#workshops {
  background: url("../images/pyday2016/pyday16-speakers03.jpg");
  background-color: #3d73a7;
  background-blend-mode: exclusion;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
