@import "_mixins";
@import "colors";
#home {
  @include bg_mixin_fixed($blend-bg-color, "../images/pyday2016/pyday16-publico02.jpg");
}

#cfp {
  @include bg_mixin($blend-bg-color, "../images/pyday2016/pyday16-sonrisas.jpg");
}

#registro {
  @include bg_mixin($blend-bg-color, "../images/pyday2016/pyday16-registro.jpg");
}

#speakers {
  @include bg_mixin_fixed($blend-bg-color, "../images/pyday2016/pyday16-speakers.jpg");
}

#info {
  @include bg_mixin_fixed($blend-bg-color, "../images/pyday2016/pyday16-camisetas.jpg");
}

#sponsors {
  @include bg_mixin_fixed(white, null);
}

#coc {
  @include bg_mixin_fixed($blend-bg-color, "../images/pyday2016/pyday16-publico01.jpg");
}

#multimedia {
  @include bg_mixin_fixed($blend-bg-color, "../images/pyday2016/pyday16-speakers02.jpg");
}

#workshops {
  @include bg_mixin_fixed($blend-bg-color, "../images/pyday2016/pyday16-speakers02.jpg");
}

#reg {
  @include bg_mixin_fixed($blend-bg-color, "../images/pyday2016/pyday16-registro.jpg");
}

#programa {
  @include bg_mixin_fixed($blend-bg-color, "../images/pyday2016/pyday16-publico03.jpg");
  height: 100%;
}

.schedule-bg {
  background-repeat: no-repeat !important;
  background-blend-mode: exclusion !important;
  background-color: #717579 !important;
  background-position: center !important;
  background-size: cover !important;
  color: white !important;
  text-align: left !important;
  padding-left: 20px !important;
  border-left: 2px solid white !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    transform: scale(1.05);
  }
}
