.cfp {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  &-text {
    margin: 30px auto;
    &:hover{
      transform: scale(1.05);
    }
  }
}
