@import "colors";
.landing {
    @extend .acorn-background;
    .container {
        height: 100%;
        min-height: 100%;
    }
    &-cover {
        position: absolute;
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        background: url("../images/pyday2016/pyday16-grupo.jpg");
        background-color: $blend-bg-color;
        background-blend-mode: exclusion;
        background-position-x:  50%;
        background-position-y: 70%;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
        z-index: 999999;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
    }
    &-claim {
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        margin-bottom: 100px;
    }
    @media (max-width: 768px) {
        &-claim {
            left: 10%;
            transform: translate(-5%, -50%);
        }
    }
}
