@import "_mixins";
@import "colors";
#multimedia {
  & p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }
}

.m-box {
  @include bg_base_mixin();
  display: inline-block;
  vertical-align: top;
  &-text {
    position: absolute;
  }
  &-img {
    width: 100%;
  }
}
