@import "colors";
@import "shadows";
.navbar {
  transition: .8s cubic-bezier(0.39, 0.575, 0.565, 1) ease-in;
  margin: 0;
  visibility: visible;
  box-shadow: $material-shadow-hover;
  &-collapse {
    background: white;
    padding: 0 0 10px 0;
  }
  &-nav {
    align-items: center;
  }
  &-menu {
    margin-top: -200px;
    height: 80px;
    background: white !important;
    visibility: hidden;
  }
  &-brand {
    display: inline-block;
    padding: 1rem;
    margin-right: 16px;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }
  &-toggler {
    color: $blue-strong;
    padding: 1rem !important;
  }
  &-link {
    color: $blue-strong !important;
    padding: 1rem !important;
    font-size: 1.25rem;
  }
  &.fixed-top {
    padding: 0px !important;
  }
}
