.navbar {
  transition: .8s cubic-bezier(0.39, 0.575, 0.565, 1) ease-in;
  &-menu {
    margin-top: -200px;
    background: $blue-dark !important;
    visibility: hidden;
  }
}

.nav-link {
  color: $blue-primary !important;
  &:hover {
    color: $blue-dark !important;
  }
}
