@import "colors";
@import "shadows";
.speakers-list {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.speaker-card {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  /* Prettify */
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic);
  /* Card Styles */
  $deeppurple500: #673ab7;
  $grey500: #9e9e9e;
  & .card {
    background-color: #ffffff;
    text-align: left;
    border-radius: 4px;
    overflow: hidden;
    &__header {}
    &__body {
      padding: 16px 0;
    }
    &__primary-title {
      padding: 8px 16px;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }
    }
    &__supporting-text {
      padding: 8px 16px;
    }
    &__actions {
      padding: 8px;
    }
  }
  /* Material & utility classes */
  .bg {
    &--deep-purple {
      color: #ffffff;
      background-color: $deeppurple500;
    }
  }
  .text {
    &-normal {
      font-weight: normal;
    }
    &-bold {
      font-weight: bold;
    }
    &-secondary {
      color: $grey500;
    }
    &-small {
      font-size: 14px;
    }
    &-medium {
      font-size: 16px;
    }
    &-large {
      font-size: 24px;
    }
  }
  .item {
    display: inline-block;
    margin-top: 8px;
    max-height: 72px;
    vertical-align: middle;
    &--two-lines {}
  }
  .image {
    margin: 0;
    padding: 0;
    overflow: hidden;
    &--avatar {
      display: inline-block;
      margin-right: 16px;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      vertical-align: middle;
    }
    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      border: none;
    }
  }
  .btn {
    display: inline-block;
    padding: 8px;
    color: inherit;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    &--icon {
      transition: color 0.3s;
      &:hover {
        color: $grey500;
      }
    }
  }
  .depth {
    &--two {
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
    }
  }
}
