@import "colors";
@import "shadows";
.speakers-list {
  display: flex;
  justify-content: center;
  & .card {
    & a {
      border: 1px solid $blue-dark;
    }
    & figure {
      margin: -1px 0;
    }
    .btn-workshop {
      font-size: 12px;
    }
    border: 0;
    &-img {
      border-radius: 0;
      width: 100%;
      max-width: 100%;
    }
    & .card__primary-title {
      color: white;
      padding: 15px;
      background: $blue-strong;
      & h5 {
        color: white;
      }
    }
    & .card__image {
      position: relative;
      width: 100%;
      & .img-overlay-text {
        display: none;
      }
      &:hover {
        & .img-overlay {
          background: black;
          min-width: 100%;
          opacity: .7;
          min-height: 100%;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          &-text {
            color: white;
            display: flex;
          }
        }
      }
    }
    & .card__supporting-text {
      padding: 20px;
    }
    & .card__actions {
      color: $blue-strong;
      display: flex;
      min-height: 60px;
      justify-content: center;
      align-items: center;
      & a:hover {
        color: $blue-strong;
      }
      & .fa {
        padding: 5px;
      }
    }
  }
}
