.speaker {
    display: inline-table;
    width: 200px;
    margin: 100px 30px auto 30px;
    &-current-position {
        font-style: italic;
    }
    &-image {
        width: 200px;
        margin-bottom: 30px;
        border-radius: 50%;
        -webkit-box-shadow: 1px -1px 39px -11px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px -1px 39px -11px rgba(0, 0, 0, 0.75);
        box-shadow: 1px -1px 39px -11px rgba(0, 0, 0, 0.75);
    }
    &-col-vertical-middle-fixed {
        display: inline-block;
        vertical-align: middle;
        float: none;
        width: 300px;
    }
}

.speaker-name,
.speaker-current-position,
.speaker-social {
    /* padding-left: 20px; */
}

.speaker-track,
.workshop-track {
    color: white;
}

.speaker-track-1,
.workshop-track-3 {
    background-color: mediumseagreen;
    font-size: .8rem;
    width: 100%;
}

.speaker-track-2 {
    background-color: tomato;
    font-size: .8rem;
    width: 100%;
}
