@import "colors";
table {
  width: 100%;
}

th {
  text-align: center;
}

.table th,
.table td {
  border: none;
  vertical-align: inherit;
}

.td-row {
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.td-row>p {
  margin: 0 !important;
}

.thead-inverse th {
  background-color: $blue-strong;
}

.schedule-pic {
  max-width: 70px;
  max-height: 70px;
  float: left;
}

.schedule-bg-event {
  background-color: $blue-soft !important;
}
