// Options from Bootstrap
@import "colors";
$brand-primary: $blue-primary !default;
$brand-success: $blue-dark !default;
$brand-info: $blue-light !default;
$brand-warning: $red-light !default;
$brand-danger: $red-dark !default;
$enable-flex: true;
$font-family-sans-serif: 'Roboto',
Arial,
sans-serif !default;
$font-size-root: 1rem !default;
$body-font-family: 'Roboto'Arial,
sans-serif !default;
$body-font-weight: 300;
$headings-font-family: 'Raleway',
Arial,
sans-serif !default;
$headings-font-weight: 800;
$headings-color: $blue-dark !default;
