{% extends "container_clean.html" %}
{% load i18n %}
{% block content %}
<div class="container text-center ">
  <div class="card-container">
    <div class="card-left">

    </div>
    <div class="card-right">
      <h1>Call For Papers</h1>
      <div class="container">
        <hr>
      </div>
      <div clas="cfp-text">
        <br><br>
        <p>{% trans "Envía tu propuesta a" %} <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>
        {% trans "si deseas tomar parte en el evento como Speaker o capacitador de workshops." %}</p>
        <br>
        <h3>{% trans "Queremos escuchar a la comunidad, ¡y te invitamos a participar en ella!" %}</h3>
        <br><br>
      </div>
      <div class="cfp-req col">
        <ul class="list-group text-center">
          <li class="list-group-item">Nombre completo</li>
          <li class="list-group-item">Correo electrónico</li>
          <li class="list-group-item">Biografía (2 {% trans "líneas" %} como máximo)</li>
          <li class="list-group-item">Fotografía</li>
          <li class="list-group-item">Nivel {% trans "de la propuesta" %}</li>
          <li class="list-group-item">Título {% trans "de la propuesta" %}</li>
        </ul>
      </div>
      <br>
      <a href="mailto:{{ CONTACT_EMAIL }}" class="btn btn-default">{{ CONTACT_EMAIL }}</a>
    </div>
  </div>
</div>
{% endblock content %}
