{% extends "container_clean.html" %}
{% load i18n %}
{% block content %}
<section id="cfp">
  <div class="container text-center ">
    <div class="card-container">
      <h1>Call For Papers</h1>
      <hr><br>
      <div class="card col-md-8 offset-md-2">
        <div class="card-block">
          <h4 class="card-title">
            {% blocktrans %}
            Queremos escuchar a la comunidad,
            <br>
            ¡y te invitamos a participar en ella!
            {% endblocktrans %}
          </h4>
          <p class="card-text">
            {% blocktrans %}
            Envía tu propuesta si deseas tomar
            parte en el evento como ponente,
            o ser capacitador de workshops.
            {% endblocktrans %}
          </p>
          <br>
          <h6 class="card-subtitle mb-2">
            {% blocktrans %}
            Requisitos de envío:
            {% endblocktrans %}
          </h6>
          <p class="card-text">
            <strong>
              {% trans "Nombre, título y una breve descripción de la propuesta." %}
            </strong>
          </p>
          <a class="btn btn-primary" href="mailto: {{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
