{% extends "container_landing.html" %}
{% load i18n %}
{% load static %}
{% load sponsorship_tags %}
{% block content %}
<div class="landing-cover">
    <div class="col">
        <div class="col-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3" style="height:100vh;">
            <img src="{% static "images/logo.svg" %}" class="img-fluid img-logo vertical-center">
        </div>
    </div>
</div>
<section id="home" class="section-bg" style="padding-top:100px;">
  <div class="container vertical-center">
    <div class="col col-lg-10 offset-lg-1">
      <div class="card text-center">
        <div class="card-block">
          <h1 class="card-title">{% trans "¿Qué es PyDay Galicia 2017?" %}</h1>
          <hr>
          {% blocktrans %}
          <p class="card-text">
            PyDay Galicia es la conferencia anual de la comunidad Python gallega,
            que celebrará su segunda edición el <strong>10 de Junio de 2017</strong>
            en las instalaciones del museo <strong>MARCO</strong>, en <strong>Vigo</strong>,
            tras una primera edición exitosa, con muy buena acogida.
          </p>
          <p class="card-text">
            Como novedad en esta edición, contaremos con dos tracks de conferencias,<br>
            para todos los niveles, y talleres sobre diversas tecnologías.
          </p>
          {% endblocktrans %}
          <a href="{% url "info" %}" class="btn btn-primary">{% trans "Información del evento" %}</a>
        </div>
      </div>
      <br><br><br>
      <div class="text-center">
        <a href="#sponsors" class="btn btn-primary">{% trans "¿Quién hace este evento posible?" %}</a>
      </div>
    </div>
  </div>
</section>
<section id="sponsors">
  <div class="container">
    <h2 class="text-center">Colaboradores</h2>
    <hr><br>
    {% sponsor_levels as levels %}
    {% for level in levels %}
      {% sponsors level.pk as sponsors %}
      {% if sponsors %}
        {% if level.name == 'Colaborador' %}
        <ul class="sponsors-list" style="-webkit-padding-start: 0;">
            {% for sponsor in sponsors %}
            <li class="nav-item">
                <a href="{{ sponsor.external_url }}" target="_blank">
                    <img src="{{ sponsor.website_logo.url }}" title="{{ sponsor.name }}"
                    alt="{{ sponsor.name }}" class="img-fluid sponsors-img-gold">
                </a>
            </li>
            {% if forloop.counter|divisibleby:"2" %}
            <div class="clearfix visible-xs"></div>
            {% endif %}
            {% if forloop.counter|divisibleby:"3" %}
            <div class="clearfix visible-sm"></div>
            {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    {% endfor %}
    <br>
    <h2 class="text-center">Patrocinadores</h2>
    <hr><br>
    {% sponsor_levels as levels %}
    {% for level in levels %}
      {% if level.name == 'Oro' or level.name == 'Plata' or level.name == 'Bronce' %}
      {% sponsors level.pk as sponsors %}
      {% if sponsors %}
      <ul class="sponsors-list" style="-webkit-padding-start: 0;">
          {% for sponsor in sponsors %}
          <li class="nav-item">
              <a href="{{ sponsor.external_url }}" target="_blank">
                  <img src="{{ sponsor.website_logo.url }}" title="{{ sponsor.name }}"
                  alt="{{ sponsor.name }}" class="img-fluid
                  {% if level.name == 'Colaborador' %}sponsors-img-gold{% endif %}
                  {% if level.name == 'Oro' or level.name == 'Ouro' %}sponsors-img-gold{% endif %}
                  {% if level.name == 'Plata' or level.name == 'Prata' %}sponsors-img-silver{% endif %}
                  {% if level.name == 'Bronce' %}sponsors-img-bronze{% endif %}">
              </a>
          </li>
          {% if forloop.counter|divisibleby:"2" %}
          <div class="clearfix visible-xs"></div>
          {% endif %}
          {% if forloop.counter|divisibleby:"3" %}
          <div class="clearfix visible-sm"></div>
          {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
      {% endif %}
    {% endfor %}
    <br>
    <h2 class="text-center">Organiza</h2>
    <hr><br>
    {% sponsor_levels as levels %}
    {% for level in levels %}
      {% sponsors level.pk as sponsors %}
      {% if sponsors %}
        {% if level.name == 'Organizador' %}
        <ul class="sponsors-list" style="-webkit-padding-start: 0;">
            {% for sponsor in sponsors %}
            <li class="nav-item">
                <a href="{{ sponsor.external_url }}" target="_blank">
                    <img src="{{ sponsor.website_logo.url }}" title="{{ sponsor.name }}"
                    alt="{{ sponsor.name }}" class="img-fluid sponsors-img-gold">
                </a>
            </li>
            {% if forloop.counter|divisibleby:"2" %}
            <div class="clearfix visible-xs"></div>
            {% endif %}
            {% if forloop.counter|divisibleby:"3" %}
            <div class="clearfix visible-sm"></div>
            {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    {% endfor %}
    <br>
    <p class="text-center">
      {% blocktrans %}¿Quieres ser sponsor?{% endblocktrans %}
      <br>
      <a class="btn btn-primary" href="mailto:{{ SPONSORS_EMAIL }}" target="_blank">{{ SPONSORS_EMAIL }}</a>
    </p>
    <br><br>
    <h6 class="text-center">{% blocktrans %}EDICIONES ANTERIORES{% endblocktrans %}</h6>
    <p class="text-center indented">
        <a class="btn btn-primary" href="https://python-vigo.github.io/pyday-2016/"
        target="_blank">PyDay Galicia 2016</a>
    </p>
  </div>
</section>
{% endblock content %}
