{% extends "container_clean.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
  <h1 class="text-center">{% trans "Información del evento" %}</h1>
  <hr>
  <br>
  <h2 class="text-center">{% trans "Fecha" %}</h2>
  <hr>
  <br>
  <h1  class="text-center" style="font-size: 3rem; color: #6eb3e4;">10 de Junio de 2017</h1>
  <br>
  <br>
  <h2 class="text-center">{% trans "Localización" %}</h2>
  <hr>
  <br>
  <div class="card" style="width: 100%;">
    <img src="{% static "images/marco-fachada.jpg" %}" alt="">
    <iframe class="card-img-top" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23634.93099075203!2d-8.757732023591526!3d42.22798519661654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2bf3edcb59caa0c9!2sMARCO+(Museo+de+Arte+Contempor%C3%A1nea)!5e0!3m2!1ses!2ses!4v1491388909460" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div class="card-block text-center">
      <h4 class="card-title">Museo de Arte Contemporáneo MARCO</h4>
      <a href="#" class="btn btn-primary">Visitar</a>
    </div>
  </div>
  <br>
  <br>
  <h2 class="text-center">{% trans "Codigo de conducta" %}</h2>
  <hr>
  <br>
  <p class="loud">
    {% trans "PyDay Galicia aspira a crear un ambiente libre de acosos o discriminaciones por razón de género, orientación sexual, discapacidad, aspecto físico, etnia o religión. No se tolerará discriminación alguna bajo ninguna circunstancia." %}
  </p>
  <p class="loud">
    {% trans "Todo el contenido de la conferencia deberá ajustarse a una audiencia profesional integrada por personas procedentes de sectores diferentes. Tanto el lenguaje como las imágenes sexualmente explícitos son inapropiados en la conferencia y en las charlas." %}
  </p>
  <p class="loud">
    {% trans "Sé amable con los demás. No insultes o humilles a otros asistentes. Compórtate de manera profesional. Recuerda que las bromas sexistas, racistas o discriminatorias están prohibidas en la PyDay Galicia." %}
  </p>
  <p class="loud">
    {% trans "Los asistentes que incumplan estas reglas podrán -a discreción de los organizadores- ser sancionados o expulsados de la conferencia sin derecho a reembolso." %}
  </p>
  <p class="loud">{% trans "Gracias por ayudarnos a hacer este evento amistoso y abierto para todos." %}</p>

  <a class="text-center" href="{% url "code-of-conduct" %}">{% trans "Código de Conducta Completo" %}</a>
</div>
{% endblock content %}
