{% extends "container_clean.html" %} {% load i18n %} {% load static %} {% block content %}
<section id="multimedia">
  <div class="container-fluid text-center">
    <h2><i class="fa fa-video-camera" aria-hidden="true"></i> {% trans "Ponencias" %} 2016</h2>
    <hr>
    <div class="row text-center" style="color:black;list-style: none;">
      {% for v in videos %}
      <li class="col-xs-6 col-md-6 col-lg-3">
        <iframe width="100%" height="290" src="{{ v.url }}?controls=0"frameborder="0" allowfullscreen></iframe>
        <br>
        <p class="text-left">{{ v.speaker }} | {{ v.title }}</p>
      </li>
      {% endfor %}
    </div>
    <div>
      <h2><i class="fa fa-camera" aria-hidden="true"></i> Fotos 2016</h2>
      <hr>
      <div class="row text-center" style="color:black;list-style: none;">
        {% for foto in photos %}
        <li class="col-xs-6 col-md-6 col-lg-3">
          <a href="/media/{{ foto.photo }}"><img class="m-box-img" src="/media/{{ foto.photo }}"></a>
          <p  class="text-left">{{ foto.title }} </p>
        </li>
        {% endfor %}
      </div>
      <p>Fotos por: <a href="https://twitter.com/marta_FFPP" target="_blank">Marta Fernández Pereira</a></p>
    </div>
</section>
{% endblock content %}
