{% extends "container_clean.html" %}
{% load i18n %}
{% block content %}
<section id="reg" class="vertical-center">
  <div class="container text-center">
    <div class="card-container">
      <div class="card col-md-8 offset-md-2">
        <div class="card-block">
          <h1><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;{% trans "Registro" %}</h1>
          <hr><br>
          <h2 class="card-title">
            ¡Pronto!
          </h2>
          <p class="card-text">{% blocktrans %}En los próximos días abriremos la plataforma de registro. Vuelve pronto, y no te quedes sin plaza.{% endblocktrans %}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
