{% extends "container_clean.html" %} {% load i18n %} {% block content %}

<section id="programa" class="vertical-center">
<div class="container card">
  <div class="card-block">
  <div class="sch">
    <div class="sch-container">

          <h1 class="text-center" style="color: #006997 !important;"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Programa</h1>
          <hr>

          <div class="row sch-row sch-thead">
            <div class="col-xs-12 col-md-2">&nbsp;</div>
            <div class="col sch-track sch-head"><p>Track 1</p><strong>Profesional</strong></div>
            <div class="col sch-track sch-head"><p>Track 2</p><strong>Iniciación</strong></div>
          </div>

          <div class="row sch-row">
            <div class="col-xs-12 col-md-2 sch-hora">
              09:15 - 09:30
            </div>

            <div class="col text-center sch-event">
              <p><strong>{% trans "Registro" %}</strong></p>
            </div>
          </div>

          <div class="row sch-row">
            <div class="col-xs-12 col-md-2 sch-hora">
              09:30 - 09:55
            </div>

            <div class="col text-center sch-track">
              <p><a class="btn btn-primary">TRACK 1</a></p>
              <br>
              <p><h6><strong>Presentación + AdaLab </strong></h6>(Creando Diversidad Digtal)</p>

            </div>
          </div>


          <div class="row sch-row">

            <div class="col-xs-12 col-md-2 sch-hora">
              10:00 - 10:45
            </div>

            <div class="col sch-track sch-track1">
                {% for speaker in speakers %}
                  {% if speaker.presentation_schedule == '10:00 - 10:45' and speaker.track == 1 %}
                    <h6><strong>{{ speaker.name }}</strong></h6>
                    <p>{{ speaker.presentation }}</p>
                  {% endif %}
                {% endfor %}
            </div>

            <div class="col sch-track sch-track2">
                <h6><strong></strong></h6>
                <p>Iniciación a Python!</p>
                <!--{% for speaker in speakers %}
                  {% if speaker.presentation_schedule == '10:00 - 10:45' and speaker.track == 2 %}
                    <h6><strong>{{ speaker.name }}</strong></h6>
                    <p>{{ speaker.presentation }}</p>
                  {% endif %}
                {% endfor %}-->
            </div>

          </div>

          <!-- ********************************************* -->

          <div class="row sch-row">

            <div class="col-xs-12 col-md-2 sch-hora">
              10:55 - 11:40
            </div>

            <div class="col sch-track sch-track1">
                {% for speaker in speakers %}
                  {% if speaker.presentation_schedule == '10:55 - 11:40' and speaker.track == 1 %}
                    <h6><strong>{{ speaker.name }}</strong></h6>
                    <p>{{ speaker.presentation }}</p>
                  {% endif %}
                {% endfor %}
            </div>

            <div class="col sch-track sch-track2">
                {% for speaker in speakers %}
                  {% if speaker.presentation_schedule == '10:55 - 11:40' and speaker.track == 2 %}
                    <br>
                    <h6><strong>{{ speaker.name }}</strong></h6>
                    <p>{{ speaker.presentation }}</p>
                  {% endif %}
                {% endfor %}
            </div>

          </div>

          <!-- ********************************************* -->

          <div class="row sch-row">

            <div class="col-xs-12 col-md-2 sch-hora">
              11:45 - 12:15
            </div>

            <div class="col text-center sch-event">
              <p><strong>Café</strong></p>
            </div>

          </div>

          <!-- ********************************************* -->

          <div class="row sch-row">

            <div class="col-xs-12 col-md-2 sch-hora">
              12:20 - 13:05
            </div>

            <div class="col sch-track sch-track1">
                {% for speaker in speakers %}
                  {% if speaker.presentation_schedule == '12:20 - 13:05' and speaker.track == 1 %}
                    <h6><strong>{{ speaker.name }}</strong></h6>
                    <p>{{ speaker.presentation }}</p>
                  {% endif %}
                {% endfor %}
            </div>

            <div class="col sch-track sch-track2">
                {% for speaker in speakers %}
                  {% if speaker.presentation_schedule == '12:20 - 13:05' and speaker.track == 2 %}
                    <h6><strong>{{ speaker.name }}</strong></h6>
                    <p>{{ speaker.presentation }}</p>
                  {% endif %}
                {% endfor %}
            </div>

          </div>

          <!-- ********************************************* -->

          <div class="row sch-row">

            <div class="col-xs-12 col-md-2 sch-hora">
              13:10 - 13:55
            </div>

            <div class="col sch-track sch-track1">
                {% for speaker in speakers %}
                  {% if speaker.presentation_schedule == '13:10 - 13:55' and speaker.track == 1 %}
                    <h6><strong>{{ speaker.name }}</strong></h6>
                    <p>{{ speaker.presentation }}</p>
                  {% endif %}
                {% endfor %}
            </div>

            <div class="col sch-track sch-track2">
                {% for speaker in speakers %}
                  {% if speaker.presentation_schedule == '13:10 - 13:55' and speaker.track == 2 %}
                    <h6><strong>{{ speaker.name }}</strong></h6>
                    <p>{{ speaker.presentation }}</p>
                  {% endif %}
                  {% if speaker.presentation_2_schedule == '13:10 - 13:55'%}
                    <h6><strong>{{ speaker.name }}</strong></h6>
                    <p>{{ speaker.presentation_2 }}</p>
                  {% endif %}
                {% endfor %}
            </div>

          </div>

          <!-- ********************************************* -->

          <div class="row sch-row">

            <div class="col-xs-12 col-md-2 sch-hora">
              14:00 - 16:00
            </div>

            <div class="col text-center sch-event">
              <p><strong>Comida</strong></p>
            </div>

          </div>

          <!-- ********************************************* -->

          <div class="row sch-row">

            <div class="col-xs-12 col-md-2 sch-hora">
              16:05 - 16:50
            </div>

            <div class="col sch-track sch-track1">
                {% for speaker in speakers %}
                  {% if speaker.presentation_schedule == '16:05 - 16:50' and speaker.track == 1 %}
                    <h6><strong>{{ speaker.name }}</strong></h6>
                    <p>{{ speaker.presentation }}</p>
                  {% endif %}
                {% endfor %}
            </div>

            <div class="col sch-track sch-track2">
                    <a class="btn btn-primary">{% trans "TALLER" %}</a>
                    <br>
                    <h6><strong>Félix Gómez y Miguel Gesteiro</strong></h6>
                    <p>Controlando el mundo físico con Python y RaspberryPi</p>
            </div>
          </div>

          <!-- ********************************************* -->

          <div class="row sch-row">

            <div class="col-xs-12 col-md-2 sch-hora">
              16:55 - 17:40
            </div>

            <div class="col sch-track sch-track1">
                {% for speaker in speakers %}
                  {% if speaker.presentation_schedule == '16:55 - 17:40' and speaker.track == 1 %}
                    <h6><strong>{{ speaker.name }}</strong></h6>
                    <p>{{ speaker.presentation }}</p>
                  {% endif %}
                {% endfor %}
            </div>

            <div class="col sch-track sch-track2">
                <a class="btn btn-primary">{% trans "TALLER" %}</a>
                <br>
                <p>Controlando el mundo físico con Python y RaspberryPi</p>
                <p><strong style="font-size: 12px">CONTINUACIÓN</strong></p>
            </div>

          </div>

          <!-- ********************************************* -->

          <div class="row sch-row">

            <div class="col-xs-12 col-md-2 sch-hora">
              17:40 - 18:25
            </div>

            <div class="col sch-track sch-track1">
                {% for speaker in speakers %}
                  {% if speaker.presentation_schedule == '17:40 - 18:25' and speaker.track == 1 %}
                    <h6><strong>{{ speaker.name }}</strong></h6>
                    <p>{{ speaker.presentation }}</p>
                  {% endif %}
                {% endfor %}
            </div>

            <div class="col sch-track sch-track2">
                <a class="btn btn-primary">{% trans "TALLER" %}</a>
                <br>
                <p>Controlando el mundo físico con Python y RaspberryPi</p>
                <p><strong style="font-size: 12px">CONTINUACIÓN</strong></p>
            </div>

          </div>

          <!-- ********************************************* -->

          <div class="row sch-row">

            <div class="col-xs-12 col-md-2 sch-hora">
              18:30 - 19:30
            </div>

            <div class="col text-center sch-event">
              <p><strong>Lightning Talks / Cierre</strong></p>
            </div>

          </div>

    </div>
  </div>
  </div>
</div>
</section>
{% endblock content %}
